---
layout: base
---

<div class="content-flow">
  <h1>Heading level 1</h1>
  <h2>Heading level 2</h2>
  <h3>Heading level 3</h3>
  <h4>Heading level 4</h4>
  <h5>Heading level 5</h5>
  <h6>Heading level 6</h6>
  <p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, impedit! Natus doloremque sint necessitatibus omnis cum
    facilis eaque quos ab accusamus, voluptatum nemo illo vel, vitae porro quam accusantium ex!
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    <a href="#">Fuga, porro modi!</a>
    Architecto libero porro eaque enim. Perspiciatis possimus aliquam quibusdam facilis excepturi minus rerum magni
    perferendis, officiis exercitationem cumque et.
  </p>
  <ul>
    <li>List item 1</li>
    <li>List item 2</li>
    <li>List item 3</li>
    <li>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis suscipit iure numquam tempora expedita quia ea
      iusto nisi saepe laudantium natus minus, ut neque id quam voluptas consequatur vel? Temporibus?</li>
  </ul>
  <button>
    Button
    <span class="visually-hidden">visually hidden</span>
  </button>
  <p>
    <a href="#" class="button">Link styled as button</a>
  </p>
  <p>
    <a href="#">Standard link</a>
  </p>
  <blockquote>
    Blockquote. Lorem ipsum dolor sit amet consectetur adipisicing elit.
  </blockquote>
  <form action="/" class="form">
    <div class="form-row">
      <label for="name">Your name</label>
      <input type="text" id="name" placeholder="John Doe">
    </div>
    <div class="form-row">
      <label for="email">Your email</label>
      <input type="email" id="email" placeholder="john@doe.com">
    </div>
    <fieldset class="radios">
      <legend>
        Do you enjoy pizza
      </legend>
      <div class="radio">
        <input type="radio" name="pizza" id="pizza-yes" value="yes">
        <label for="pizza-yes">Yes</label>
      </div>
      <div class="radio">
        <input type="radio" name="pizza" id="pizza-no" value="no">
        <label for="pizza-no">No</label>
      </div>
      <div class="radio">
        <input type="radio" name="pizza" id="pizza-unsure" value="unsure">
        <label for="pizza-unsure">Not sure</label>
      </div>
    </fieldset>
  </form>
</div>