.form > * + * {
  margin-top: var(--s-100);
}

label,
input,
select,
textarea {
  display: block;
  width: 100%;
  appearance: none;
  border: 0;
  color: var(--c-font);
  border-radius: var(--border-radius-100);
}

input,
select,
textarea {
  padding: var(--s-50) var(--s-100);
  border: var(--border);
  border-radius: var(--border-radius-100);

  &.has-error {
    border-color: var(--c-error);
  }
}

.form-field__error {
  color: var(--c-error);
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

fieldset > * + * {
  margin-top: var(--s-100);
}

.radio {
  display: flex;
  justify-content: center;
  align-items: center;

  label,
  input {
    display: inline-flex;
  }

  label {
    margin: unset;
    font-weight: var(--fw-500);
  }

  input {
    position: relative;
    border-radius: 50%;
    padding: 0.6rem;
    width: 15px;
    height: 15px;
    margin: 0 var(--s-50);

    &:checked {
      background: var(--c-grey);
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 15px;
      height: 15px;
      margin: auto;
      background: var(--c-grey);
      border-radius: 50%;
    }
  }
}

.contact {
  --grid-gap: 4rem;
  --stack-space: 2rem;
}
